@using Microsoft.AspNet.Identity
@using Utils.Constants;

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header" style="padding:0px !important">
                <div class="dropdown profile-element">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1" style="display:flex">
                            <a id="home-button-logo" style="margin:auto;display:none" href="@Url.Action("Index", "Home")"><img style="padding-top:2.5em;max-height:150px;max-width:100%" src="~/Images/logo-iecb.png" /></a>
                        </div>
                    </div>
                </div><a href="@Url.Action("Index", "Home")">
                    <div class="logo-element">
                        <i class="fa fa-home"></i>
                    </div>
                </a>
            </li>
            <li class="@Html.IsSelectedMenuItem(controller: new string[] {"Circulo","Participante","Quarto","Padrinho","Carona","Consulta"}, actions: new List<string> { "Index","Participantes" })">
                <a href="#"><i class="fa fa-users"></i> <span class="nav-label">Pacientes</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelectedMenuItem(controller: new string[] {"Circulo","Participante","Quarto","Padrinho","Carona"}, actions: new List<string> { "Index","Participantes" }, cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Index", controller:"Participante")"><a href="@Url.Action("Index", "Participante")">Cadastro</a></li>
                    <li class="@Html.IsSelected(action: "Index", controller:"Consulta")"><a href="@Url.Action("Index", "Consulta")">Consultas</a></li>

                </ul>
            </li>

            <li class="@Html.IsSelected(action: "Index", controller: "Lancamento")"><a href="@Url.Action("Index", "Lancamento")"><i class="far fa-money-bill-alt"></i><span class="nav-label">Financeiro</span></a></li>
            <li class="@Html.IsSelected(action: "Index", controller: "Relatorio")"><a href="@Url.Action("Index", "Relatorio")"><i class="fa fa-chart-area"></i><span class="nav-label">Relatórios</span></a></li>

            <li class="@Html.IsSelectedMenuItem(controller: new string[] { "MeioPagamento","Categoria", "Account", "ContaBancaria", "CentroCusto","Evento","Reuniao","Mensagem","Equipante","Arquivo", "Configuracao","Cracha", "Igreja" }, actions: new List<string> { "Login","Index", "Equipe" })">
                <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">Configurações</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelectedMenuItem(controller: new string[] { "MeioPagamento","Cracha", "Account", "Evento","Reuniao","Mensagem","Equipante","Categoria", "ContaBancaria", "CentroCusto", "Arquivo", "Configuracao","Igreja" }, actions: new List<string> { "Index", "Equipe" }, cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Index", controller:"Evento")"><a href="@Url.Action("Index", "Evento")">Consultórios</a></li>
                    <li class="@Html.IsSelected(action: "Index", controller:"Etiqueta")"><a href="@Url.Action("Index", "Etiqueta")">Marcadores</a></li>
                    <li class="@Html.IsSelected(action: "Index", controller: "Cracha")"><a href="@Url.Action("Index", "Cracha")">Recibos</a></li>
                    @*<li class="@Html.IsSelected(action: "Index", controller:"Mensagem")"><a href="@Url.Action("Index", "Mensagem")">Mensagens</a></li>*@
                    <li class="@Html.IsSelected(action: "Index", controller: "MeioPagamento")"><a href="@Url.Action("Index", "MeioPagamento")">Formas de Pagamento</a></li>
                    <li class="@Html.IsSelected(action: "Index", controller: "CentroCusto")"><a href="@Url.Action("Index", "CentroCusto")">Centros de Custo</a></li>
                    <li class="@Html.IsSelected(action: "Index", controller:"Equipante")"><a href="@Url.Action("Index", "Equipante")">Usuários</a></li>
                    <li class="@Html.IsSelected(action: "Index", controller: "Account")"><a href="@Url.Action("Index", "Account")">Administradores</a></li>
                    <li class="@Html.IsSelected(action: "Index", controller: "Arquivo")"><a href="@Url.Action("Index", "Arquivo")">Arquivos</a></li>
                    <li class="@Html.IsSelected(action: "Index", controller: "Configuracao")"><a href="@Url.Action("Index", "Configuracao")">Parâmetros</a></li>
                    <li class="@Html.IsSelected(action: "Login", controller: "Configuracao")"><a href="@Url.Action("Login", "Configuracao")">Login</a></li>
                </ul>
            </li>

        </ul>
    </div>
</nav>
